html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


 /*common*/
 .frame{
   width:800px;
   margin:0 auto;
   /*background-color: rgba(255, 0, 0, 0.2);*/
   /*height:10000px;*/
 }

 body {
   font-family: 'M PLUS Rounded 1c', sans-serif;

 }

 .whiteNon{
   color: white;
 }
 .whiteNon:hover{
   color: white;
 }
 .whiteNon:active{
   color: white;
 }
 .blackNon{
   color: black;
	 text-decoration: none;
 }
 .blackNon:hover{
   color: black;
 }
 .blackNon:active{
   color: black;
 }


.more {
	display: inline-block;
	width:40px;
	float: right;
	margin-bottom: 20px;
}
.contents{
	background-image:url(../image/back05.png);
	background-position: bottom;
	background-size: cover;
}

p{
	font-size: 16px;
	text-decoration: none;
}
p{
	font-size: 16px;
}
/*トップ*/
.top{
	background-image:url(../image/pro_inai02.png);
	background-position: bottom;
	background-size: cover;
	color: white;
}
.topBlock{
	padding: 40px;
}
.top h1{
	font-size: 35px;
	padding-top: 140px;
	padding-bottom: 100px;
	letter-spacing: 4px;
}
.top .proLogo{
	display: block;
	width:430px;
	padding-top: 140px;
	padding-bottom: 100px;
}
.top h2{
	font-size: 18px;
	padding-top:15px;
}
.back{
	width:80px;
}
/*ボディー*/
.main{

}
.mainText{
	text-align: center;
	letter-spacing: 3px;
	line-height: 30px;
	padding: 33px 0px 30px 0px;
}
.mainText p{
	padding: 11px 0px;
}
.movie{
	border-radius: 13px;
	width:800px;
	height: 450px;
	margin: 0 auto;
	display: block;
}
.proImage{
	width: 100%;
	margin-top: 28px;
	border-radius: 13px;
}
.content02{
	font-size: 100px;
	margin-top: 20px;
	/*background-color: #43adc5;*/
}
/*受賞・展示*/
.dot{
	width: 18px;
	padding-right: 3px;
}
.ex h4{
	font-size: 20px;
	padding: 45px 0px 10px 0px;
	margin: 10px 0px;
	line-height: 20px;
	letter-spacing: 3px;
	border-bottom: solid 2px;
}






/*フッター*/
footer{
	margin-top: 70px;
	background-image: url(../image/back04.png);
	background-size: cover;
}
.footList{
	padding-top: 5px;
	padding-bottom: 20px;
}
.footList li{
	font-size: 15px;
	line-height: 35px;
	float: right;
	margin-right: 35px;
}
.footLogo .logo{
	width:13%;
}
.frame2 {
	width:80%;
	margin:0 auto;
}
.logo {
	margin-top:30px;
}

/*プライバシーポリシー*/
.privacy{
	background-image:url(../image/back05.png);
	background-position: bottom;
	background-size: cover;
	padding: 30px 0px 5px 0px;
}
.back2 {
	width: 80px;
	padding: 40px 0px 50px 0px;
}

/*プロダクト一覧*/

/*ニュース一覧*/
.ex_year{
	font-size: 24px;
	padding: 40px 0px 15px 0px;
}

.news {
	background-image: url(../image/back01.png);
	background-size: cover;

}

 .frame .newsframes{
	 width: 70%;
	 margin: 50px auto 20px auto;
   /*height: 300px;*/
   /*background-color: rgba(0, 0, 255, 0.2);*/

 }
.news i{
  font-size: 35px;
  padding-left:15px;
}
.news p{
  font-size:17px;
}
.date{
  padding:0 3px;
  position: relative;
  bottom: 5px;
}

.title{
  position: relative;
  bottom: 5px;
	text-decoration: none;
}

.newsframe{
  padding:6px 0;
  margin-bottom:8px;
  border-radius: 10px;
  letter-spacing: 2px;
  display:inline-block;
  width:100%;
}
.newsCont{
color: black;
text-decoration: none;
}
.newsCont:hover{
  color: black;
}
.newsCont:active{
  color: black;
}
.news1{
  background-color:#7bc2ce;
}
.news2{
  background-color:#7bc2ce;
}
.news3{
  background-color:#eeefef;
}
.newsCont{
  display:inline-block;
}

.news_icon{
	height: 33px;
	padding: 0px 0px 0px 19px;
}
